body {
	background-color: #0a0a23;
}

#text {
	background-color: #0a0a23;
	color: #ffffff;
	padding: 10px;
}

#game {
	max-width: 600px;
	max-height: 500px;
	background-color: #ffffff;
	color: #ffffff;
	margin: 30px auto 0px;
	padding: 10px;
}

#controls, 
#stats {
	border: 1px solid #0a0a23;
	color: #0a0a23;
	padding: 1px; 
}

#monsterStats {
	display: none;
	border: 1px solid #0a0a23;
	color: #ffffff;
	background-color: #c70d0d;
	padding: 1px; 
}

.stat {
	padding-right: 10px;
}

button {
	cursor: pointer;
	color: #0a0a23;
	background-color: #feac23;
	background-image: linear-gradient(#feac23, #ffac33);
	border: 3px solid #feac23;
}